@media (max-width: 900px) {

  .threat-feed {

    width: calc(100% - 30px);

    left: 15px;
    right: 15px;

    top: auto;
    bottom: 20px;

    padding: 20px;
  }

  .header {
    top: 25px;
    left: 20px;
  }

  .header h1 {
    font-size: 54px;
  }

  .header p {
    font-size: 12px;
    letter-spacing: 3px;
  }
}
